.menu *
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif
.menu
  position: absolute
  top: 0px
  right: 0px
  left: 0px
  z-index: 3
  text-align: right
  .logo
    position: absolute
    top: 20px
    left: 35px
    width: 135px
    transition: opacity 0.5s
  .resume-container
    position: absolute
    width: 80px
    top: 90px
    left: 45px
    cursor: pointer
    transition: opacity .5s
  .resume-container:hover
    opacity: 0.7
    transition: opacity .5s
  #resume_button
    width: 110px
  .resume-text
    font-size: 14px
    letter-spacing: 1px
    position: relative
    top: -29px
  #menu_dropdown_container
    position: absolute
    top: 90px
    right: 30px
    background-color: #383535
    min-width: 210px
    margin-top: 10px
    padding: 10px
    border: 1px solid #979797
    border-radius: 5px
    text-align: left
    box-shadow: 0 2px 4px 0 black
    box-shadow: inset 0 1px 3px 0 black
    transition: opacity 1s
  #menu_icon_container
    position: absolute
    top: 20px
    right: 30px
    cursor: pointer
    width: 100px
  .toggle_menu_container
    display: inline-block
  .menu_icons
    position: absolute
    top: 12px
    transition: opacity .5s, right .4s, top .4s
  .flower-avatar-container
    display: inline-block
    margin-left: 15px
    margin-top: 3px
  .btn
    color: #8D8E87
    letter-spacing: 1px
    font-size: 20px
    padding: 12px 17px
    text-decoration: none
    cursor: pointer
    text-align: left
  .btn:hover
    opacity: 0.7
  .active
    color: #ECEDE3
  .username
    padding: 17px
    color: #ECEDE3
    padding-top: 20px
    padding-bottom: 25px
    font-weight: 400
    letter-spacing: 1px
    font-size: 24px
  .leaderboard-btn, .gamemode-btn
    padding-top: 30px
    padding-bottom: 30px
  .gamemode-btn
    padding-top: 10px
  .link
    text-decoration: none
    display: block

.signUpLogIn-container
  position: absolute
  top: 0px
  right: 0px
  left: 0px
  bottom: 0px
  z-index: 3
  transition: opacity .5s
