

@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600&display=swap');


html, body {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#game_screen_page_body {
	background: #202020;
	font-family: "Dosis", Avenir, sans-serif;
	font-weight: 200;
	margin: 0;
	user-select: none;
}

#game {
  display: none;
}

#loader_div {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #202020;
  opacity: 1;
  z-index: 3;
}

#copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 6pt;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0 5px 5px 0;
  text-decoration: none;
  color: #777777;
  z-index: 2;
}

.copyright_link {
  text-decoration: none;
  color: #777777;
}

.copyright_link:hover {
  text-decoration: none; 
  color: #AAAAAA;
}

.hover {
  opacity: 0;
}
.hover:hover {
  opacity: 1;
}






/*** LANDING ***/


#landing_page_div {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #202020;
  z-index: 1;
}

#landing_content_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*(height and width handled by scaleLanding() in ui.js)*/
}

#landing_svg_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.button_landing {
  position: absolute;
  cursor: pointer;
  opacity: 1;
  /*(width and top handled by scaleLanding() in ui.js)*/
}
.button_landing:hover {
  opacity: 0;
}
#button_game_mode {
  /*(left handled by scaleLanding() in ui.js)*/
}
#button_ambient_mode {
  /*(left handled by scaleLanding() in ui.js)*/
}






/*** HEADER ***/

#header_div {
	position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header_item {
	position: absolute;
	bottom: 22%;
	height: 21%;
	cursor: pointer;
	display: none;
}

.button_save {
  bottom: 20%;
  height: 26%;
  left: 0;
}

#icon_pause {
	left: 24.25%;
	visibility: visible;
}

#icon_play {
	left: 24.25%;
	visibility: hidden;
}

#icon_restart {
	left: 38.75%;
}

#icon_dark_light_toggle {
  left: 53.52%;
}

#icon_shadows_on {
	left: 68.25%;
	visibility: visible;
}

#icon_shadows_off {
	left: 68.25%;
	visibility: hidden;
}

#icon_camera {
	left: 82.52%;
}

#icon_info {
  right: 0%;
  height: 22%;
  bottom: 21%;
}







/*** GAME SCREEN ***/


#canvas_container_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#canvas {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
}






/*** FOOTER ***/


#footer_div {
	position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.footer_text {
	position: relative;
  margin-bottom: 0;
	letter-spacing: 0.4pt;
	color: #D5D8C5;
}

#time {
	float: left;
  margin-left: 5px;
}

.pie_circle {
	fill: none;
  stroke: #D5D8C5;
  stroke-width: 50;
}

.pie_svg {
  position: absolute;
  transform: rotate(-90deg);
  background-color: rgba(213,216,197,.25);
  border-radius: 50%;
}

#pie_svg_left {
  position: relative;
  left: 6px;
  height: 12px;
}

#ambient_footer_right {
	display: none;
}

#season_right {
  position: absolute;
  right: 20px;
}

#pie_svg_right {
	top: 17.35px;
	right: 0;
	height: 13px;
}

#height_text {
	float: right;
	margin-right: 11.5%;
}

#tag_div {
	position: absolute;
	top: -1px;
	right: 1%;
  width: 9%;
  max-width: 45px;
}

#tag_svg {
	position: absolute;
	width: 100%;
}

#tag_content {
  font-family: "Nunito", Avenir, sans-serif;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: #FFFFFF;
}

#percent {
	position: relative;
	font-weight: 400;
  padding-left: 1px;
}






/*** SCREEN OVERLAYS ***/


.overlay_div {
	visibility: hidden;
}

.overlay_bg {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
}

.helper {
	position: absolute;
	top: 17.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 11%;
  cursor: pointer;
}

.option {
	position: absolute;
  left: 49.7%;
  transform: translate(-50%,-50%);
  width: 50%;
  cursor: pointer;
}

#option_beginner {
	top: 38.5%;
}

#option_intermediate {
	top: 52.4%;
	opacity: 0;
}

#option_expert {
	top: 65.8%;
	opacity: 0;
}

#option_first {
	left: 50.15%;
	top: 38.7%;
}

#option_second {
	left: 50.15%;
	top: 52.6%;
	opacity: 0;
}

#option_third {
	left: 50.15%;
	top: 66%;
	opacity: 0;
}

.button_sow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 18%;
  background-color: rgba(17, 17, 17, 0.15);
  cursor: pointer;
}
.button_sow:hover {
	background-color: rgba(17, 17, 17, 0.3);
}

.end_of_game_div {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

#overlay_game_over {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
}

#button_try_again_hover {
  position: absolute;
  top: 83.8%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 52%;
  opacity: 0;
  cursor: pointer;
}
#button_try_again_hover:hover {
  opacity: 1;
}

.game_win_svg {
  position: absolute;
  display: none;
}

#game_win_YOU {
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
}

#game_win_KISSED {
  top: 14%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
}

#game_win_THE {
  top: 42.5%;
  left: 5%;
  height: 20%;
}

#game_win_SKY {
  top: 42.5%;
  right: 5%;
  height: 20%;
}

.game_win_text {
  position: absolute;
  color: #ffffff;
  font-size: 17pt;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-shadow: 0 0 3px #000000, 0 0 2px #000000;
  width: 100%;
  text-align: center;
  display: none;
}

#game_win_gen_count_text {
  top: 65%;
}

#game_win_mode_text {
  top: 73%;
}

#game_win_gen_number {
  font-size: 23pt;
}

#game_win_mode {
  font-size: 19pt;
}

#button_play_again {
  position: absolute;
  top: 89.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 51.4%;
  display: none;
}

#button_play_again_hover {
  position: absolute;
  top: 89.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 51.4%;
  opacity: 0;
  cursor: pointer;
  display: none;
  opacity: 0;
}
#button_play_again_hover:hover {
  opacity: 1;
}






/*** MODALS ***/


.modal_card_options_screens {
	position: absolute;
  top: 55.1%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 86%;
  visibility: hidden;
}

.modal_options_text {
	position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 69%;
  visibility: hidden;
}

#modal_game_text {
	top: 56%;
}

#modal_ambient_text {
	top: 53.5%;
}

#modal_card_gameplay_screen {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 86%;
  visibility: hidden;
}

#modal_card_gameplay_screen_inner_div {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  direction: rtl; /*(orders elements right to left so scroll bar is on left)*/
  overflow: auto;
  visibility: hidden;
}

.modal_gameplay_screen_text {
	position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  visibility: hidden;
}

#modal_ambient_text_gameplay_screen {
	top: 38%;
}

#modal_game_text_gameplay_screen {
  top: 113%;
  margin-bottom: 15%;
}

.icon_exit_modal {
	position: absolute;
  top: 28%;
  left: 82.5%;
  transform: translate(-50%,-50%);
  width: 8%;
  visibility: hidden;
  cursor: pointer;
}

#icon_exit_modal_gameplay_info {
	top: 13%;
  left: 88%;
  width: 7%;
}

#modal_play {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20%;
  visibility: hidden;
  cursor: pointer;
}

#modal_restart_div {
	position: absolute;
  top: 2%;
  left: 58%;
  width: 40%;
  visibility: hidden;
}

#modal_restart {
	width: 100%;
}

.button_restart {
	position: absolute;
  left: 50.05%;
  transform: translate(-50%,-50%);
  width: 72%;
  opacity: 0;
  cursor: pointer;
}
.button_restart:hover {
	opacity: 1;
}

#button_restart_confirm_hover {
	top: 45%;
}

#button_restart_cancel_hover {
	top: 74.5%;
}







/*** ANNOUNCEMENTS ***/


.announcement {
  pointer-events: none;
}

#year_announcement {
	position: absolute;
	top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 35pt;
  letter-spacing: 2.5pt;
  opacity: 0;
}

#season_announcement {
	position: absolute;
	top: 42%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: 1.25pt;
  opacity: 0;
}

#height_announcement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  width: 100%;
  font-family: "Nunito", Avenir, sans-serif;
  text-align: center;
  font-size: 10pt;
  font-weight: 700;
  letter-spacing: 0;
  opacity: 0;
}

#hundred_pct_large_height_announcement {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  width: 100%;
  font-family: "Nunito", Avenir, sans-serif;
  color: rgb( 130, 0, 0 );
  text-align: center;
  font-size: 80pt;
  font-weight: 600;
  letter-spacing: 0;
  opacity: 0;
}




#demo_elimination_div {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

#demo_elimination_bg {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  width: 65%;
}

#demo_hand {
  position: absolute;
  width: 8%;
  left: 30%;
  top: 40%;
  animation-name: swipe;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset( 25% 45% 53.95% 36% );
/*   background: rgba( 0, 0, 0, 0.2 ); */
}

#demo_plant_small_1 {
  position: absolute;
  width: 8.5%;
  top: 32.65%;
  left: 36.6%;
  opacity: 0.5;
  animation-name: fall_1;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#demo_plant_small_2 {
  position: absolute;
  width: 8.5%;
  top: 32.65%;
  left: 45.5%;
  opacity: 0.5;
  animation-name: fall_2;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#demo_change_div {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

#demo_change_bg {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  width: 65%;
}

#demo_flower_red {
  position: absolute;
  width: 4.8%;
  left: 57.9%;
  top: 32.1%;
  opacity: 0.5;
  transform: rotate( -5deg );
  animation-name: twist;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

#demo_leaf {
  position: absolute;
  width: 6.5%;
  left: 57.1%;
  top: 41%;
  transform: rotate( -5deg );
  opacity: 0.5;
  animation-name: twist;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}




.milestone {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
  opacity: 0;
}

#milestone_first_red_flower {
  width: 50%;
}

#milestone_third {
  width: 77%;
}

#milestone_half {
  width: 62%;
}

#milestone_two_thirds {
  width: 76%;
}

#milestone_90 {
  width: 45%;
}









/*** ANIMATIONS ***/


@keyframes swipe {
  0%   { left: 49.5%; }
  40%  { left: 29%;   }
  100% { left: 29%;   }
}

@keyframes fall_1 {
  0%   { top: 32.65%; opacity: 0.5 }
  20%  { top: 32.65%;              }
  60%  {              opacity: 0   }
  67%  { top: 47%;                 }
  100% { top: 47%;    opacity: 0   }
}

@keyframes fall_2 {
  0%   { top: 32.65%; opacity: 0.5 }
  13%  { top: 32.65%;              }
  53%  {              opacity: 0   }
  60%  { top: 47%;                 }
  100% { top: 47%;    opacity: 0   }
}

@keyframes twist {
  0%   { transform: rotate( -10deg ); }
  50%  { transform: rotate( 10deg ); }
  100% { transform: rotate( -10deg ); }
}
