
body {
	background: #111111;
	font-family: 'Amatic SC', Avenir, sans-serif;
	margin: 0;
	user-select: none;
}

.hover {
	opacity: 0;
}
.hover:hover { 
  opacity: 1;
}


/*** LANDING ***/

#landing_page_div {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  z-index: 1;
}

#landing_logo_div {
  position: absolute;
  width: 67%;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing_title_svg {
	width: 100%;
}

.landing_button_left {
  position: absolute;
  width: 37%;
  top: 140%;
  left: 26%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.landing_button_right {
  position: absolute;
  width: 37%;
  top: 140%;
  left: 74%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}



/*** HEADER ***/

#header_div {
	position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#title_header_svg {
	height: 86%;
}

.icon {
	position: absolute;
	bottom: 27%;
	height: 20%;
	cursor: pointer;
	display: none;
}

#icon_info {
	right: 25.5%;
	height: 22%;
	bottom: 25.5%;
}

#icon_shadows_on {
	right: 19%;
	visibility: visible;
}

#icon_shadows_off {
	right: 19%;
	visibility: hidden;
}

#icon_camera {
	right: 12.5%;
}

#icon_pause {
	right: 6%;
	visibility: visible;
}

#icon_play {
	right: 6%;
	visibility: hidden;
}

#icon_restart {
	right: 0;
	display: block;
}


/*** GAME SCREEN ***/

#canvas_container_div {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

#canvas {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
}


/*** FOOTER ***/


#footer_div {
	position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.text {
	position: relative;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0.4pt;
	color: #D5D8C5;
	margin: 0;
	top: 12px;
}

.number {
	font-size: 1.2em;
}

#time {
	float: left;
}

#season_right {

}

#pie_svg_left {
	position: relative;
	top: 19px;
	left: 4px;
	height: 12px;
	transform: rotate(-90deg);
	background-color: rgba(213,216,197,.25);
	border-radius: 50%;
}

.pie_circle {
	fill: none;
  stroke: #D5D8C5;
  stroke-width: 50;
}

#ambient_footer_right {
	display: none;
}

#season_right {
  position: absolute;
  right: 18px;
  top: 15px;
}

#pie_svg_right {
  position: absolute;
	top: 19px;
	right: 0;
	height: 12px;
	transform: rotate(-90deg);
	background-color: rgba(213,216,197,.25);
	border-radius: 50%;
}

#height_text {
	float: right;
	margin: 3px 47px 0 0;
}

#tag_div {
	position: absolute;
	top: 0;
	right: 5px;
	width: 34px;
}

#tag_svg {
	position: absolute;
	width: 32px;
}

#tag_content {
	position: absolute;
  margin: 0;
	top: 12px;
  left: 50%;
  transform: translate(-45%);
  color: #D5D8C5;
  font-weight: bold;
}

#percent {
	position: relative;
	top: -1px;
	padding-left: 1px;
	font-weight: bold;
}


/*** SCREEN OVERLAYS ***/


.overlay_div {
	visibility: hidden;
}

.overlay_bg {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
}

.helper {
	position: absolute;
	top: 18%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 13%;
  cursor: pointer;
}

.option {
	position: absolute;
  left: 49.7%;
  transform: translate(-50%,-50%);
  width: 50%;
  cursor: pointer;
}

#option_beginner {
	top: 38.5%;
}

#option_intermediate {
	top: 52.4%;
	opacity: 0;
}

#option_expert {
	top: 65.8%;
	opacity: 0;
}

#option_first {
	left: 50.15%;
	top: 38.7%;
}

#option_second {
	left: 50.15%;
	top: 52.6%;
	opacity: 0;
}

#option_third {
	left: 50.15%;
	top: 66%;
	opacity: 0;
}

.button_sow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 18%;
  background-color: rgba(17, 17, 17, 0.15);
  cursor: pointer;
}
.button_sow:hover {
	background-color: rgba(17, 17, 17, 0.3);
}


/*** MODALS ***/


.modal_card_options_screens {
	position: absolute;
  top: 55.1%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 86%;
  visibility: hidden;
}

.modal_options_text {
	position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 69%;
  visibility: hidden;
}

#modal_game_text {
	top: 56%;
}

#modal_ambient_text {
	top: 51.6%;
}

#modal_card_gameplay_screen {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 86%;
  visibility: hidden;
}

#modal_card_gameplay_screen_inner_div {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  direction: rtl; /*(orders elements right to left so scroll bar is on left)*/
  overflow: auto;
  visibility: hidden;
}

.modal_gameplay_screen_text {
	position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  visibility: hidden;
}

#modal_ambient_text_gameplay_screen {
	top: 38%;
}

#modal_game_text_gameplay_screen {
  top: 113%;
  margin-bottom: 15%;
}

.icon_exit_modal {
	position: absolute;
  top: 28%;
  left: 82.5%;
  transform: translate(-50%,-50%);
  width: 8%;
  visibility: hidden;
  cursor: pointer;
}

#icon_exit_modal_gameplay_info {
	top: 13%;
  left: 88%;
  width: 7%;
}

#modal_play {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20%;	
  visibility: hidden;
  cursor: pointer;
}





















