
body {
	background: #111111;
}

#header_div {
	position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#title_svg {
	height: 86%;
}

.icon {
	position: absolute;
	bottom: 27%;
	cursor: pointer;
}

#shadows_icon_on_svg {
	right: 14.5%;
	height: 20%;
}

#shadows_icon_off_svg {
	right: 14.5%;
	height: 20%;
	visibility: hidden;
}

#camera_icon_svg {
	right: 7%;
	height: 19%;
}

#restart_icon_svg {
	right: 0;
	height: 20%;
}

#canvas_container_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#canvas {
  width: 100%;
  height: 100%;
}

#footer_div {
	position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.text {
	font-family: 'Amatic SC', Avenir, sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.4pt;
	color: #D5D8C5;
	margin: 0;
	padding-top: 0.85em;
}

.number {
	font-size: 1.2em;
}

#time {
	float: left;
}

#pie_svg {
	position: relative;
	top: 17px;
	left: 5px;
	height: 12px;
	transform: rotate(-90deg);
}

#pie_circle {
	fill: none;
  stroke: #D5D8C5;
  stroke-width: 50;
}

#height {
	float: right;
}





