.menu
  position: absolute
  top: 34px
  right: 34px
  z-index: 2
  text-align: right
  .menu_container
    background-color: #383535
    width: 205px
    margin-top: 10px
    padding: 10px
    border: 1px solid #979797
    border-radius: 5px
    text-align: left
    box-shadow: 0 2px 4px 0 black
    box-shadow: inset 0 1px 3px 0 black
  #menu_icon_container
    padding: 5px
    cursor: pointer
  #menu_icon
    margin-bottom: 12px
  #flower_avatar
    width: 40px
    margin-left: 15px
  .btn
    color: #8D8E87
    font-size: 18px
    padding: 10px
    text-decoration: none
    cursor: pointer
  .username
    color: #ECEDE3
    padding-bottom: 20px
    font-weight: bold
    font-size: 20px
  .link
    text-decoration: none
