.leaderboard *
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif
.leaderboard
  position: absolute
  padding: 5%
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  font-size: 30px
  color: white
  z-index: 2
  background-color: rgba(32,32,32,0.7)
  font-size: 35px
  text-align: center
  transition: opacity 1s
  // 👆🚨 check delay on > exit = () =>{...}
  .leaderboard-header
    font-weight: 400
    letter-spacing: 1px
    position: absolute
    top: 100px
    left: 0px
    right: 0px
    color: #ECEEE2
  .leaderboard-subtitle
    padding-top: 10px
    letter-spacing: 0.6px
    font-size: 16px
    font-weight: 100
  .diff-btn
    font-size: 26px
    color: #bbb
    text-decoration: none
    padding: 5px
    border-radius: 3px
  .details-container
    // 🤔 this class used for style? check all properties
    width: 610px
    text-align: left
    font-size: 20px
    margin: 10px 50px 
  .active
    background-color: #444
